{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('storage') }}" name="files">
        </span>
        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>

        <h1>Tax list</h1>

        <table class="records_list table table-striped table-hover table-bordered table-responsive">
            <thead>
            <tr>
                <th><a href="{{ path('tax', {'orderBy':'id'}) }}">Id</a></th>
                <th><a href="{{ path('tax', {'orderBy':'city'}) }}">City</a></th>
                <th><a href="{{ path('tax', {'orderBy':'country'}) }}">Country</a></th>
                <th><a href="{{ path('tax', {'orderBy':'taxesPIT'}) }}">Taxespit</a></th>
                <th><a href="{{ path('tax', {'orderBy':'taxesCIT'}) }}">Taxescit</a></th>
                <th><a href="{{ path('tax', {'orderBy':'taxesVAT'}) }}">Taxesvat</a></th>
                <th><a href="{{ path('tax', {'orderBy':'taxesOther'}) }}">Taxesother</a></th>
                <th><a href="{{ path('tax', {'orderBy':'population'}) }}">Population</a></th>
                <th><a href="{{ path('tax', {'orderBy':'mayorName'}) }}">Mayorname</a></th>
                <th><a href="{{ path('tax', {'orderBy':'mayorEmail'}) }}">Mayoremail</a></th>
                <th><a href="{{ path('tax', {'orderBy':'updateDate'}) }}">Updatedate</a></th>
                <th>Income For Person</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.city }}</td>
                    <td>{{ entity.country }}</td>
                    <td>{{ entity.taxesPIT|number_format(2, ',', ' ') }}€</td>
                    <td>{{ entity.taxesCIT|number_format(2, ',', ' ') }}€</td>
                    <td>{{ entity.taxesVAT|number_format(2, ',', ' ') }}€</td>
                    <td>{{ entity.taxesOther|number_format(2, ',', ' ') }}€</td>
                    <td>{{ entity.population|number_format(2, ',', ' ') }}</td>
                    <td>{{ entity.mayorName }}</td>
                    <td>{{ entity.mayorEmail }}</td>
                    <td>{% if entity.updateDate %}{{ entity.updateDate|date('d-j-Y') }}{% endif %}</td>
                    <td>{{ entity.incomeForPerson|number_format(6, ',', ' ') }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
