{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tax</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Taxespit</th>
                <td>{{ entity.taxesPIT }}</td>
            </tr>
            <tr>
                <th>Taxescit</th>
                <td>{{ entity.taxesCIT }}</td>
            </tr>
            <tr>
                <th>Taxesvat</th>
                <td>{{ entity.taxesVAT }}</td>
            </tr>
            <tr>
                <th>Taxesother</th>
                <td>{{ entity.taxesOther }}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{ entity.population }}</td>
            </tr>
            <tr>
                <th>Mayorname</th>
                <td>{{ entity.mayorName }}</td>
            </tr>
            <tr>
                <th>Mayoremail</th>
                <td>{{ entity.mayorEmail }}</td>
            </tr>
            <tr>
                <th>Updatedate</th>
                <td>{{ entity.updateDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tax') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tax_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
