<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}EarthCEO{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/jquery.fileupload.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}"/>
        <style>
            body {
                padding-top: 100px;
            }

        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload-process.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload-validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script>
        /*jslint unparam: true, regexp: true */
        /*global window, $ */
        $(function () {
            'use strict';
            var url = '{{ oneup_uploader_endpoint('storage') }}',
                    alertPlaceholder = $('#alert-placeholder'),
                    successPlaceholder = $('#success-placeholder'),
                    placeholder = successPlaceholder,
                    resetProgressAndFiles = function() {
                        $('#files').html('');
                        $('#progress').children().css('width','0%');
                    },
                    reload = function () {
                        document.location.reload()
                    },
                    showInfo = function (type, message, callback) {
                        switch (type) {
                            case 'fail':
                                placeholder = alertPlaceholder;
                                break;
                            case 'success':
                                placeholder = successPlaceholder;
                                break;
                        }
                        placeholder.show().html(message);
                        setTimeout(function () {
                            placeholder.fadeOut('fast');
                            callback();
                        }, 4000);
                    };

            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                autoUpload: true,
                acceptFileTypes: /(\.|\/)(csv|xls)$/i,
                maxFileSize: 5000000 // 5 MB
            }).on('fileuploadadd',function (e, data) {
                data.context = $('<div/>').appendTo('#files');
                $.each(data.files, function (index, file) {
                    var node = $('<p/>').append($('<span/>').text(file.name));
                    node.appendTo(data.context);
                });
            }).on('fileuploadprocessalways',function (e, data) {
                var index = data.index,
                        file = data.files[index],
                        node = $(data.context.children()[index]);

                if (file.error) {
                    showInfo('fail', file.error, resetProgressAndFiles);
                }

            }).on('fileuploadprogressall',function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css('width', progress + '%');
            }).on('fileuploaddone',function (e, data) {
                var file = data.result.files;
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ path('tax_processing') }}',
                    data: { filename: file.name}
                })
                .done(function (response) {
                    if (response.result === 'success') {
                        showInfo('success', 'Success! Your file is successfuly uploaded and processed', reload);
                    }
                })
                .error(function (xhr) {
                    var result = jQuery.parseJSON(xhr.responseText);
                    showInfo('fail', 'Failure :( ' + result.message, resetProgressAndFiles);
                });

            }).on('fileuploadfail',function (e, data) {
                $.each(data.files, function (index, file) {
                    showInfo('fail', 'File upload failed', resetProgressAndFiles)
                });
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}
</body>
</html>
